<div>
  <h2 class="head">Create Calculations</h2>

  <%= form_for(:calculation, :url => {:action => 'create'}) do |f| %>

    <table>
      <tr>
        <th style="font-size: 28px; padding-left: -200px;">Order ID :</th>
        <td><%= f.text_field(:order_id) %></td><br />
      </tr>
      <tr>
        <th style="font-size: 28px; padding-left: -200px;">Name :</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th style="font-size: 28px;">Price </th>
        <td><%= p = f.number_field(:price) %></td>
      </tr>
      <tr>
        <th style="font-size: 28px;">Quantity </th>
        <td><%= q = f.number_field(:quantity) %></td>
      </tr>
      <tr>
        <th style="font-size: 28px;">Total </th>
        <td><%= f.number_field(:total) %></td>
      </tr>
    </table>
    <br />
    <%# submit_tag("Create Order") %>
    <button class="signup">Create Calculation</button>
  <% end %>
</div>

<h2 class="head">Check Total Value</h2>

<script>
    function showanswer()
    {
        var t1 = document.getElementById("txt1").value;
        var t2 = document.getElementById("txt2").value;
        var ans = parseFloat(t1) * parseFloat(t2);

        document.getElementById("txt3").value = ans;
    }

    function cleartxt() {
        document.getElementById("txt1").value = "";
        document.getElementById("txt2").value = "";
        document.getElementById("txt3").value = "";
    }
</script>
Price :    <input id="txt1" type="text" placeholder="Price"><br />
Quantity : <input id="txt2" type="text" placeholder="Quantity"><br />
Total :    <input id="txt3" type="text" placeholder="Total"><br />
<input type="button" value="Answer" onclick="showanswer();" class="signup"><br />
<input type="button" value="Clear" onclick="cleartxt();" class="signup">
